# Cosas por agregar
- visualización
- filtrado
- incluir resumen de formas de indexado

# Links de interés
- Datasets https://www.kaggle.com/datasets
- Documentación de Pandas https://pandas.pydata.org/docs/index.html 
- Cookbook de pandas https://pandas.pydata.org/docs/user_guide/cookbook.html
- Estructura y un par de cosas sobre data engineering https://apmonitor.com/pds/index.php/Main/DataPreparation
- Indexing and selecting data, pandas: https://pandas.pydata.org/docs/user_guide/indexing.html#

# Import importantes y cargo pickles de dfs

In [2]:
import kagglehub
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime
import pickle


# Download latest version
kagglehub.dataset_download("isathyam31/adult-income-prediction-classification")

/home/capitanespiral/Documents/GitHub/data_science/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

'/home/capitanespiral/.cache/kagglehub/datasets/isathyam31/adult-income-prediction-classification/versions/1'

In [2]:
#Cargo pickles
with open("df.pkl","rb") as file:
    df=pickle.load(file)
    
with open("df_t.pkl","rb") as file:
    df_t=pickle.load(file)

# Recolectar data

## Datos en general

La función más usada, lejos es `read_csv` de pandas, donde basta que demos el path del archivo y su nombre, y se leerá si no hay mayor problema. Por default, la primera fila se transforma en las columnas del dataframe, que podemos ver usando `dataframe.columns`

In [ ]:
path="/home/capitanespiral/Documents/GitHub/data_science" #Aquí introducir tu path
filename="data.csv"

df=pd.read_csv(f"{path}/{filename}")
#Display entrega mucho mejor resultado que print para los dataframes!
display(df)
print(df.columns)

---
Opciones más usadas de `read_csv`:
- **sep o delimiter** &rarr; El separador de la data, usualmente se encuentra solo pero a veces es mejor darlo explícitamente. (en el caso que se confunda el identificador automático)
- **header** &rarr; Número de fila que se toma como nombre de columnas y desde el cual comienza la data, por default, cero (inicio del .csv).
- **skiprows** &rarr; Filas a saltar desde el inicio del archivo (indexeando desde cero, se puede entregar lista o tupla)
- **skipfooter** &rarr; Filas a saltar desde el final del archivo.
- **usecols** &rarr; Subset de columnas a usar (secuencia de números o nombres explícitos).

In [ ]:
#Si la primera fila está mala, cambiamos el header
df1=pd.read_csv("data_bad_first_row.csv") #Salió pésimo
df2=pd.read_csv("data_bad_first_row.csv",header=1) #Mucho mejor

display(df1)
display(df2)

In [ ]:
#Si la segunda está mala
df3=pd.read_csv("data_bad_second_row.csv") #Primer dato pésimo
df4=pd.read_csv("data_bad_second_row.csv",skiprows=[1],header=0) #Nos saltamos la segunda fila y conservamos el header

display(df3)
display(df4)

In [ ]:
#Seleccionemos ciertas columnas no más
df5=pd.read_csv("data_bad_first_row.csv",header=1,usecols=[0,3]) #Puede ser con números, aquí la primera y la cuarta
df6=pd.read_csv("data_bad_first_row.csv",header=1,usecols=range(4)) #Puede ser con iteradores, acá me entrega de la primera A la cuarta
df7=pd.read_csv("data_bad_first_row.csv",header=1,usecols=["age","education","workclass"]) #Puede ser con los nombres explícitos

display(df5)
display(df6)
display(df7)

In [ ]:
del df1,df2,df3,df4,df5,df6,df7

## Series de Tiempo

Para el caso de series de tiempo, hay que saber trabajar con `Timestamps`, `Datetime`, `Timedelta`, etc...

### Funciones generales

- **pd.to_datetime()** &rarr; Transforma lo que le entregues en un "Datetime", funciona aceptando varios formatos y si le entregas secuencias.
- **pd.date_range()** &rarr; Para crear puntos en el tiempo equiespaceados, con un "start" un "end", posibilidad de "periods" o "freq"
    - **freq** más comunes:"y" (años),"m" (meses),"W" (semana), "B" (business day), "d" (días), "h" (horas), "min" (minutos), "s" (segundos) Ojo que hay *infinitas* opciones! revisar en https://pandas.pydata.org/docs/user_guide/timeseries.html#dateoffset-objects
- **df.resample().func()** &rarr; Entregando como variable una frecuencia, podemos "resamplear" según la función "func"

Ejemplos de estas funciones:

In [ ]:
##datetime con varios formatos
dt1=pd.to_datetime(["13/1/2018", np.datetime64("2018-01-13"), datetime.datetime(2018, 1, 13)],dayfirst=True)
print("dt1:",dt1,"\n")

In [ ]:
##date_range
#Creando una lista de tiempo cada tres horas
t1="1-1-2000"
t2="2000-3-10"
dt2=pd.date_range(start=t1,end=t2,freq="3h")
print("dt2:",dt2,"\n")

#Lo mismo pero con 15 minutos
t1="1-1-2000"
t2="2000-3-10"
dt3=pd.date_range(start=t1,end=t2,freq="15min")
print("dt3:",dt3,"\n")

#Si tengo periodos y frecuencia
dt4=pd.date_range(start="2018-8-1", periods=5, freq="2d")
print("dt4:",dt4,"\n")

In [ ]:
#Como usar el resampleo
idx = pd.date_range("2018-01-01", periods=10, freq="h") #ojo que 1h = h
ts = pd.Series(range(len(idx)), index=idx)
print("ts",ts,"\n",sep="\n")
#Downsample (también muy usado el sum)
ts_downsampled=ts.resample("2h").mean() #LEJOS el más útil
print("ts_downsampled",ts_downsampled,"\n",sep="\n")
#upsample (también muy usado bfill)
ts_upsampled=ts.resample("30min").ffill() #Sería interesante, acá interpolar
print("ts_upsampled",ts_upsampled,"\n",sep="\n")

In [16]:
del dt1,dt2,dt3,dt4,idx,ts,ts_upsampled,ts_downsampled

Ahora trabajemos con data de verdad:

In [ ]:
df_t=pd.read_csv("biomet1.csv",skiprows=[1],header=0) #Tenemos caso de segunda linea sin sentido
df_t["time_t"]=pd.to_datetime(df_t['date']+" "+df_t['time']) #Lo guardamos en una nueva columna
display(df_t)
print("\nLa columna nueva:",df_t["time_t"],sep="\n")

Nos servirá ahora
- **datetime.min() y .max()** &rarr; Evidente
- **datetimeindex.atributos** &rarr; nos permite acceder a muchas funciones de tiempo como "hour","day","minute","second","dayofyear", "strftime", entre otras (si es una serie, no un índice, agregar dt). La totalidad de atributos y métodos en https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html. La totalidad de formatos para "strftime" en https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [ ]:
#Podemos acceder a propiedades o métodos específicos de un objeto tipo "datetime" usando el "dt"
print("Solo el año:",df_t["time_t"].dt.year,"\n",sep="\n")
print("Cambio el formato:",df_t["time_t"].dt.strftime("%Y  /   %m   /  %d"),"\n",sep="\n")

In [ ]:
#Fijamos un nuevo índice
df_t=df_t.set_index("time_t") #Esto "traslada" la columna "time_t" (ya no existe como columna) - Y pasa a ser datetimeindex
df_t=df_t.drop(columns = ["date","time"]) #Boto las columnas que ya no necesito
display(df_t)
print("Y el nuevo índice:")
print(df_t.index)

In [ ]:
#Al fijarlo como índice, ahora podemos accesar simplemente con ".atributo"
display(df_t)
print("Solo el día:",df_t.index.day,"\n",sep="\n")
print("Solo el día juliano:",df_t.index.dayofyear,"\n",sep="\n")

In [ ]:
#Podemos notar que hay vaciós en la data, en específico 3!
fig,ax=plt.subplots(figsize=(16,10))
ax.scatter(df_t.index,df_t.index,s=5)
plt.show()

In [ ]:
#Ahora cubrimos todo el espacio
ti=df_t.index.min()
tf=df_t.index.max()
time_total=pd.date_range(start=ti,end=tf,freq="30min")
df_t=df_t.reindex(time_total) #Esta función redefine el índice, conservando datos y agregando nans si el nuevo índice coincide con el anterior o si no existe (para cada fila!)
display(df_t)

In [ ]:
#Se rellenó
fig,ax=plt.subplots(figsize=(16,10))
ax.scatter(df_t.index,df_t.index,s=5)
plt.show()

## Almacenamos como pickle los dataframes

In [20]:
#El primer dataframe
with open('df.pkl',"wb") as file:
    pickle.dump(df,file)

#El dataframe de serie de tiempo
with open('df_t.pkl',"wb") as file:
    pickle.dump(df_t,file)

# Ver data y estadística básica

## Indexación básica

Primero entender que *pandas* tiene dos grandes tipos de objetos: `Series` y `DataFrame`. El primero es como un "vector" (unidimensional) y el segundo está compuesto por varias `Series`, siendo como una "matriz". Y cada uno siempre tiene asociado su `Index`, que puede ser numérico o de cualquier naturaleza (uno común, temporal).

La forma básica de indexar cada tipo tiene distintos resultados:
- **Series[label]** &rarr; Dará un valor escalar en tal posición acorde al `Index`.
- **DataFrame[colname]** &rarr; Dará una *Serie* correspondiente a tal nombre de columna

In [ ]:
#Accedo a una columna, me entrega a una serie, y despues a un elemento en específico
print("**Dataframe**")
print("Edad",df["age"],"\n",sep="\n")
print("Tercer valor:",df["age"][2],"\n") #df["age"] es una serie, entonces df["age"][2] es el valor asociado al indice 2 de la serie

#Si el índice no es numérico, esto igual se puede hacer, pero se recomienda indexar acorde al índice
print("**Dataframe temporal**")
print("Calor sensible",df_t["H"],"\n",sep="\n") #Notar que el índice es temporal
print("Tercer valor indexando con 'int':",df_t["H"][2]) #Obtengo el tercer valor -> Notar advertencia de pandas!
print("Tercer valor indexando con un 'label' del 'index':",df_t["H"]["2014-01-01 01:30:00"]) #Lo mismo pero con el tiempo, engorroso pero preciso

Siempre podemos acceder a **varios valores** de una *serie* (con indexación típica de python) o **varias columnas** en un *dataframe* (agregando un nuevo []:). Notar que esto último entrega un nuevo `DataFrame`.

In [ ]:
display(df[["age","education"]])
display(df[["age","education"]][1:5]) 
print("Del segundo al quinto valor de una columna:",df["age"][1:5],sep="\n")

También usando slices de enteros en una *serie* o *dataframe* (en este caso se accesarán filas, no columnas)

In [ ]:
#Indexado clásico de python sobre una serie
print("Del primer al quinto dato:",df["age"][:5],"\n",sep="\n") 
print("Los datos pares:",df["age"][::2],"\n",sep="\n")

#Indexado clásico de python sobre un dataframe
print("\nDel primer al quinto dato:")
display(df_t[:5]) 
print("\nLos datos dados vuelta:")
display(df_t[::-1])

Para seleccionar algunas posiciones basta con entregar una lista, pero solo funciona con series!

In [ ]:
print("Segundo, tercer y sexto dato de 'age':")
print(df["age"][[1,2,5]])

print("\nSegundo, tercer y sexto dato de 'H':")
df_t["H"][[1,2,5]] #Notar el warning

## Indexar con .loc e .iloc

Para indexar también se tienen los métodos `.loc` y `.iloc`(para *series* y *dataframes*)
1. `.loc` &rarr; trabaja con labels o con arreglos booleanos.
2. `.iloc` &rarr; trabaja con posisiones con enteros (desde 0 a -1) o con arreglos booleanos.

In [ ]:
df_temp=df.drop([1]) #Boto la segunda fila
display(df_temp)

print("Con loc",df_temp.loc[2],"\n",sep="\n") #Aquí 2 es interpretado como "label", será la nueva segunda fila

print("Con iloc",df_temp.iloc[2],"\n",sep="\n") #Aquí como entero, será la tercera fila

Para llamar a varios elementos no secuenciales, usamos también listas

In [ ]:
#Usando listas de elementos
print("Usando listas:")

display(df_temp.loc[[0,3,5]]) #El label 0, 3, 5

display(df_temp.iloc[[0,3,5]]) #Las posiciones asociados (otro label)

#También usando "slices"
print("\nUsando slices ahora:")
print("El dataframe con una fila menos:")
display(df_temp.loc[0:5])
display(df_temp.iloc[0:5])

print("\nEl dataframe original")
display(df.loc[0:5])
display(df.iloc[0:5])
print("En este caso funcionan igual por la naturaleza de este índice. NOTAR se incluye el PRINCIPIO Y EL FINAL!")

Llamando distintas filas y columnas usando `.loc`

In [ ]:
#Mezclando filas y columnas loc
print("Slice y columna - loc",df_temp.loc[2:9,"age"],"\n",sep="\n")

print("Slice y slice - loc")
display(df_temp.loc[2:9,"age":"sex"])

print("\nFilas y columnas - loc")
display(df_temp.loc[[5,3,7],["education","age","country","race"]])

Llamando distintas filas y columnas usando `.iloc`

In [ ]:
#Mezclando filas y columnas iloc (aquí las columnas se preguntan también posicionalmente)

print("Slice y columna - iloc",df_temp.iloc[2:9,0],"\n",sep="\n")

print("Slice y slice - iloc")
display(df_temp.iloc[2:9,0:7])

print("\nFilas y columnas - iloc")
display(df_temp.iloc[[5,3,7],[1,0,5,7]])

Usando slices en `.loc` siempre tiene que ser algo compatible con el índice del df (o al menos *transformable* en este!)

In [ ]:
#Con loc podemos usar slices compatibles con el tipo de índice
display(df_t.loc["20150112":"20160101"])
display(df_t.loc["2015":"2017"])
display(df_t.loc["2015"]) #Todo lo que tenga 2015!

Mezclando posición y label indexing:

In [ ]:
#Con loc, en el índice de las filas podemos indexar posicionalmente el índice:
display(df.loc[df.index[[0,2,5]],["age","education"]])
display(df_t.loc[df_t.index[[0,2,5]],["H","LE"]])
print("\nNotar que df_t.index me entrega los labels que busco en tales posiciones:")
print(df_t.index[[0,2,5]])

#Con iloc, es un poco más enredado, pero podemos llamar el label de la columna:
display(df.iloc[[0,2,5],df.columns.get_indexer(["sex"])])
display(df_t.iloc[[0,2,5],df_t.columns.get_indexer(["H","LE"])])

print("\nNotar que df_t.columns.get_indexer me entrega las posiciones que busco en tales labels:")
print(df_t.columns.get_indexer(["H","LE"]))

Como vemos, indexado básico y `.loc` e `.iloc` gestionan *múltiples casos* de indexado. Si queremos solo conseguir *un* valor, se recomienda usar `.at` y `.iat` (mucho más veloces para esto). Uno ve labels y el otro posiciones respectivamente.

In [ ]:
print(df.at[2,"age"])
print(df.iat[2,0])

print(df_t.at[df_t.index[0],"H"])
print(df_t.iat[0,25])

## Indexar con booleanos

Dentro de las cosas más poderosas y usadas en *Pandas*. Los operadores entre comparaciones son `|` (or), `&` (and), `~` (not) y se deben agrupar con parentesis.

Si estamos trabajando con `series` se trabaja igual que un arreglo numpy:

In [4]:
#Con series
s=df["age"]
print("Edades menores a 30:")
print(s[s<30]) #Claro ques era lo mismo usar df["age"][df["age"]<30]

print("\nEdades menores a 30 o mayor/igual a 40:")
print(s[(s<30) | (s>= 40)])

print("\nEdades entre 30 y 35:")
print(s[(s>=30) & (s<=35)])

print("\nEdades distintas de 30:")
print(s[s!=30])
print(s[~(s==30)])

Edades menores a 30:
4        28
12       23
16       25
26       19
30       23
         ..
32529    29
32535    22
32555    22
32556    27
32559    22
Name: age, Length: 9711, dtype: int64

Edades menores a 30 o mayor/igual a 40:
1        50
3        53
4        28
6        49
7        52
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 23948, dtype: int64

Edades entre 30 y 35:
8        31
11       30
13       32
15       34
17       32
         ..
32536    34
32537    30
32544    31
32551    32
32553    32
Name: age, Length: 5214, dtype: int64

Edades distintas de 30:
0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 31700, dtype: int64
0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 31700, dtype: int64

Si queremos trabajar con `Dataframes`, basta con entregar un vector booleano del mismo largo que el `index`, por ejemplo, una columna del mismo `Dataframe`!

In [ ]:
print("La columna de edad:",df["age"],sep="\n")
print("\nSi usamos alguna comparación se transforma en 'booleana':",df["age"]>30,sep="\n")
print("\nY con esto podemos FILTRAR el dataframe original:")
display(df[df["age"]>30])

print("Por supuesto que esto puede ser TAN complejo como uno quiera!")

La columna de edad:
0        39
1        50
2        38
3        53
4        28
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

Si usamos alguna comparación se transforma en 'booleana':
0         True
1         True
2         True
3         True
4        False
         ...
32556    False
32557     True
32558     True
32559    False
32560     True
Name: age, Length: 32561, dtype: bool

Y con esto podemos FILTRAR el dataframe original:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,0
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

Usando el metodo `.map()` o comprensión de listas podemos realizar criterios más complejos:

In [14]:
#Método más rápido (busco gente casada)
criterio=df["marital-status"].map(lambda x: x.startswith(" M")) #Ojo que datos parten con un espacio aparentemente
display(df[criterio])

#Más lento pero idéntico
display(df[[x.startswith(" M") for x in df["marital-status"]]])

#Mezclando esto y otras condiciones
display(df[criterio & (df["education-num"]>=13)]) #Buscando gente casada con postgrado

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,0
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,0
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,1
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,1
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,1
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1

Usando `.loc` e `.iloc` podemos filtrar más aun. Eso si, para `.iloc` se vuelve necesario usar el atributo `.values`, que nos entrega el arreglo numpy con la data almacenada.

In [18]:
criterio=df["marital-status"].map(lambda x: x.startswith(" M"))
#Con loc es muy directo
display(df.loc[criterio & (df["education-num"]>=13),"age":"education"])

#iloc tira error de la misma manera, tenemos que usar "values"
#display(df.iloc[criterio & (df["education-num"]>=13),[5,3]]) esto tira error!
aux_crit=criterio & (df["education-num"]>=13)
display(df.iloc[aux_crit.values,[5,3]]) #Aquí ningun problema

       age          workclass  fnlwgt   education
1       50   Self-emp-not-inc   83311   Bachelors
4       28            Private  338409   Bachelors
5       37            Private  284582     Masters
9       42            Private  159449   Bachelors
11      30          State-gov  141297   Bachelors
...    ...                ...     ...         ...
32530   35                  ?  320084   Bachelors
32532   34            Private  204461   Doctorate
32533   54            Private  337992   Bachelors
32539   71                  ?  287372   Doctorate
32554   53            Private  321865     Masters

[4568 rows x 4 columns]

            marital-status   education
1       Married-civ-spouse   Bachelors
4       Married-civ-spouse   Bachelors
5       Married-civ-spouse     Masters
9       Married-civ-spouse   Bachelors
11      Married-civ-spouse   Bachelors
...                    ...         ...
32530   Married-civ-spouse   Bachelors
32532   Married-civ-spouse   Doctorate
32533   Married-civ-spouse   Bachelors
32539   Married-civ-spouse   Doctorate
32554   Married-civ-spouse     Masters

[4568 rows x 2 columns]

In [25]:
print("Notar que:")
print(type(df.values))
print()
display(df.values)
display(df)

Notar que:
<class 'numpy.ndarray'>

array([[39, ' State-gov', 77516, ..., 40, ' United-States', 0],
       [50, ' Self-emp-not-inc', 83311, ..., 13, ' United-States', 0],
       [38, ' Private', 215646, ..., 40, ' United-States', 0],
       ...,
       [58, ' Private', 151910, ..., 40, ' United-States', 0],
       [22, ' Private', 201490, ..., 20, ' United-States', 0],
       [52, ' Self-emp-inc', 287927, ..., 40, ' United-States', 1]],
      shape=(32561, 15), dtype=object)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

## Método where() y masking

Para `Series`, usar un arreglo booleano usualmente entrega un subset, si queremos que conserve la forma de la data original podemos usar `where`.

In [29]:
print("La serie original:")
print(df_t["H"])
print()
print("La serie filtrada para valores positivos:")
print(df_t["H"][df_t["H"]>0])

#Ahora usando where
print("\nCon where resulta:")
print(df_t["H"].where(df_t["H"]>0)) #Se reemplazan los valores que no cumplen la condición con NaN!

La serie original:
2014-01-01 00:30:00     2.10820
2014-01-01 01:00:00    -4.62751
2014-01-01 01:30:00   -25.06920
2014-01-01 02:00:00   -19.36180
2014-01-01 02:30:00    -2.52581
                         ...
2018-02-08 21:00:00   -10.19220
2018-02-08 21:30:00   -11.88980
2018-02-08 22:00:00   -46.52960
2018-02-08 22:30:00   -16.58690
2018-02-08 23:00:00   -22.25020
Freq: 30min, Name: H, Length: 71998, dtype: float64

La serie filtrada para valores positivos:
2014-01-01 00:30:00      2.1082
2014-01-01 09:00:00     26.2218
2014-01-01 10:00:00    126.6830
2014-01-01 10:30:00    212.7490
2014-01-01 11:00:00    202.6900
                         ...
2018-02-08 13:30:00     59.6568
2018-02-08 14:30:00     37.8994
2018-02-08 17:00:00     26.0587
2018-02-08 17:30:00     52.4123
2018-02-08 19:00:00      8.2663
Name: H, Length: 22029, dtype: float64

Con where resulta:
2014-01-01 00:30:00    2.1082
2014-01-01 01:00:00       NaN
2014-01-01 01:30:00       NaN
2014-01-01 02:00:00       NaN
2014-01-01 02:30:00       NaN
                        ...
2018-02-08 21:00:00       NaN
2018-02-08 21:30:00       NaN
2018-02-08 22:00:00       NaN
2018-02-08 22:30:00       NaN
2018-02-08 23:00:00       NaN
Freq: 30min, Name: H, Length: 71998, dtype: float64

Ahora hacer este tipo de evaluaciones para un `DataFrame`, conserva el tamaño (está aplicando `where` bajo la mesa). Pero si usamos where, tenemos la posibilidad de escoger otro argumento que reemplazará los valores donde la condición sea falsa

In [32]:
print("El dataframe original:")
display(df_t)
print("Solo valores positivos, negativos reemplazados con NaN:")
display(df_t[df_t>0]) #Se transforman en NaN
print("Reemplazados con cero:")
display(df_t.where(df_t>0,0))
print("Reemplazados con su valor positivo:")
display(df_t.where(df_t>0,-df_t))

El dataframe original:

,DOY,Ta,Pa,RH,Td,Tc,Rn,LWin,LWout,SWin,...,Ts_2_1_1,Ts_3_1_1,SWC_1_1_1,SWC_2_1_1,SWC_3_1_1,SHF_1_1_1,SHF_2_1_1,SHF_3_1_1,LE,H
2014-01-01 00:30:00,1.0208,285.499,100523.0,87.5984,NaN,285.499,NaN,NaN,NaN,NaN,...,286.550,285.912,0.580774,0.677433,0.264485,1.899400,0.491621,0.750120,0.987573,2.10820
2014-01-01 01:00:00,1.0416,285.169,100531.0,88.4022,NaN,285.169,NaN,NaN,NaN,NaN,...,286.498,285.869,0.581969,0.677369,0.264282,1.439690,0.225682,0.559402,0.167466,-4.62751
2014-01-01 01:30:00,1.0624,285.089,100526.0,89.6953,NaN,285.089,NaN,NaN,NaN,NaN,...,286.431,285.818,0.583308,0.677512,0.264079,0.982225,-0.032565,0.359773,-0.209549,-25.06920
2014-01-01 02:00:00,1.0833,285.388,100514.0,87.9180,NaN,285.388,NaN,NaN,NaN,NaN,...,286.368,285.768,0.584545,0.677424,0.263918,0.527264,-0.292637,0.154871,1.012810,-19.36180
2014-01-01 02:30:00,1.1041,285.454,100498.0,84.4577,NaN,285.454,NaN,NaN,NaN,NaN,...,286.329,285.730,0.585552,0.677087,0.264359,0.088923,-0.545190,-0.036778,-1.875870,-2.52581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-08 21:00:00,39.8748,284.809,100917.0,87.2794,8.53473,284.809,-111.9970,622.180,728.531,-3.83177,...,287.524,287.100,0.269830,0.324491,0.168710,1.388390,0.480249,-0.708542,0.028853,-10.19220
2018-02-08 21:30:00,39.8956,284.447,100944.0,81.5375,6.87156,284.447,-63.4305,669.949,729.680,-2.31385,...,287.505,287.074,0.270332,0.324650,0.169308,1.220350,0.355083,-1.070870,10.821500,-11.88980
2018-02-08 22:00:00,39.9165,284.535,100961.0,77.7024,6.43326,284.535,-70.1655,664.107,730.213,-2.66563,...,287.483,287.047,0.270886,0.324739,0.169821,1.017980,0.206502,-1.642580,28.889900,-46.52960
2018-02-08 22:30:00,39.9373,283.947,100990.0,81.4990,6.62946,283.947,-95.6326,635.117,723.472,-4.61708,...,287.444,286.994,0.271494,0.324923,0.170493,0.785127,0.043090,-1.978500,1.498780,-16.58690
2018-02-08 23:00:00,39.9581,284.156,100990.0,78.2415,5.94753,284.156,-83.2179,647.099,725.291,-3.74744,...,287.406,286.938,0.272248,0.325303,0.170982,0.531903,-0.125031,-2.315050,14.333400,-22.25020

Solo valores positivos, negativos reemplazados con NaN:

,DOY,Ta,Pa,RH,Td,Tc,Rn,LWin,LWout,SWin,...,Ts_2_1_1,Ts_3_1_1,SWC_1_1_1,SWC_2_1_1,SWC_3_1_1,SHF_1_1_1,SHF_2_1_1,SHF_3_1_1,LE,H
2014-01-01 00:30:00,1.0208,285.499,100523.0,87.5984,NaN,285.499,NaN,NaN,NaN,NaN,...,286.550,285.912,0.580774,0.677433,0.264485,1.899400,0.491621,0.750120,0.987573,2.1082
2014-01-01 01:00:00,1.0416,285.169,100531.0,88.4022,NaN,285.169,NaN,NaN,NaN,NaN,...,286.498,285.869,0.581969,0.677369,0.264282,1.439690,0.225682,0.559402,0.167466,NaN
2014-01-01 01:30:00,1.0624,285.089,100526.0,89.6953,NaN,285.089,NaN,NaN,NaN,NaN,...,286.431,285.818,0.583308,0.677512,0.264079,0.982225,NaN,0.359773,NaN,NaN
2014-01-01 02:00:00,1.0833,285.388,100514.0,87.9180,NaN,285.388,NaN,NaN,NaN,NaN,...,286.368,285.768,0.584545,0.677424,0.263918,0.527264,NaN,0.154871,1.012810,NaN
2014-01-01 02:30:00,1.1041,285.454,100498.0,84.4577,NaN,285.454,NaN,NaN,NaN,NaN,...,286.329,285.730,0.585552,0.677087,0.264359,0.088923,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-08 21:00:00,39.8748,284.809,100917.0,87.2794,8.53473,284.809,NaN,622.180,728.531,NaN,...,287.524,287.100,0.269830,0.324491,0.168710,1.388390,0.480249,NaN,0.028853,NaN
2018-02-08 21:30:00,39.8956,284.447,100944.0,81.5375,6.87156,284.447,NaN,669.949,729.680,NaN,...,287.505,287.074,0.270332,0.324650,0.169308,1.220350,0.355083,NaN,10.821500,NaN
2018-02-08 22:00:00,39.9165,284.535,100961.0,77.7024,6.43326,284.535,NaN,664.107,730.213,NaN,...,287.483,287.047,0.270886,0.324739,0.169821,1.017980,0.206502,NaN,28.889900,NaN
2018-02-08 22:30:00,39.9373,283.947,100990.0,81.4990,6.62946,283.947,NaN,635.117,723.472,NaN,...,287.444,286.994,0.271494,0.324923,0.170493,0.785127,0.043090,NaN,1.498780,NaN
2018-02-08 23:00:00,39.9581,284.156,100990.0,78.2415,5.94753,284.156,NaN,647.099,725.291,NaN,...,287.406,286.938,0.272248,0.325303,0.170982,0.531903,NaN,NaN,14.333400,NaN

Reemplazados con cero:

,DOY,Ta,Pa,RH,Td,Tc,Rn,LWin,LWout,SWin,...,Ts_2_1_1,Ts_3_1_1,SWC_1_1_1,SWC_2_1_1,SWC_3_1_1,SHF_1_1_1,SHF_2_1_1,SHF_3_1_1,LE,H
2014-01-01 00:30:00,1.0208,285.499,100523.0,87.5984,0.00000,285.499,0.0,0.000,0.000,0.0,...,286.550,285.912,0.580774,0.677433,0.264485,1.899400,0.491621,0.750120,0.987573,2.1082
2014-01-01 01:00:00,1.0416,285.169,100531.0,88.4022,0.00000,285.169,0.0,0.000,0.000,0.0,...,286.498,285.869,0.581969,0.677369,0.264282,1.439690,0.225682,0.559402,0.167466,0.0000
2014-01-01 01:30:00,1.0624,285.089,100526.0,89.6953,0.00000,285.089,0.0,0.000,0.000,0.0,...,286.431,285.818,0.583308,0.677512,0.264079,0.982225,0.000000,0.359773,0.000000,0.0000
2014-01-01 02:00:00,1.0833,285.388,100514.0,87.9180,0.00000,285.388,0.0,0.000,0.000,0.0,...,286.368,285.768,0.584545,0.677424,0.263918,0.527264,0.000000,0.154871,1.012810,0.0000
2014-01-01 02:30:00,1.1041,285.454,100498.0,84.4577,0.00000,285.454,0.0,0.000,0.000,0.0,...,286.329,285.730,0.585552,0.677087,0.264359,0.088923,0.000000,0.000000,0.000000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-08 21:00:00,39.8748,284.809,100917.0,87.2794,8.53473,284.809,0.0,622.180,728.531,0.0,...,287.524,287.100,0.269830,0.324491,0.168710,1.388390,0.480249,0.000000,0.028853,0.0000
2018-02-08 21:30:00,39.8956,284.447,100944.0,81.5375,6.87156,284.447,0.0,669.949,729.680,0.0,...,287.505,287.074,0.270332,0.324650,0.169308,1.220350,0.355083,0.000000,10.821500,0.0000
2018-02-08 22:00:00,39.9165,284.535,100961.0,77.7024,6.43326,284.535,0.0,664.107,730.213,0.0,...,287.483,287.047,0.270886,0.324739,0.169821,1.017980,0.206502,0.000000,28.889900,0.0000
2018-02-08 22:30:00,39.9373,283.947,100990.0,81.4990,6.62946,283.947,0.0,635.117,723.472,0.0,...,287.444,286.994,0.271494,0.324923,0.170493,0.785127,0.043090,0.000000,1.498780,0.0000
2018-02-08 23:00:00,39.9581,284.156,100990.0,78.2415,5.94753,284.156,0.0,647.099,725.291,0.0,...,287.406,286.938,0.272248,0.325303,0.170982,0.531903,0.000000,0.000000,14.333400,0.0000

Reemplazados con su valor positivo:

,DOY,Ta,Pa,RH,Td,Tc,Rn,LWin,LWout,SWin,...,Ts_2_1_1,Ts_3_1_1,SWC_1_1_1,SWC_2_1_1,SWC_3_1_1,SHF_1_1_1,SHF_2_1_1,SHF_3_1_1,LE,H
2014-01-01 00:30:00,1.0208,285.499,100523.0,87.5984,NaN,285.499,NaN,NaN,NaN,NaN,...,286.550,285.912,0.580774,0.677433,0.264485,1.899400,0.491621,0.750120,0.987573,2.10820
2014-01-01 01:00:00,1.0416,285.169,100531.0,88.4022,NaN,285.169,NaN,NaN,NaN,NaN,...,286.498,285.869,0.581969,0.677369,0.264282,1.439690,0.225682,0.559402,0.167466,4.62751
2014-01-01 01:30:00,1.0624,285.089,100526.0,89.6953,NaN,285.089,NaN,NaN,NaN,NaN,...,286.431,285.818,0.583308,0.677512,0.264079,0.982225,0.032565,0.359773,0.209549,25.06920
2014-01-01 02:00:00,1.0833,285.388,100514.0,87.9180,NaN,285.388,NaN,NaN,NaN,NaN,...,286.368,285.768,0.584545,0.677424,0.263918,0.527264,0.292637,0.154871,1.012810,19.36180
2014-01-01 02:30:00,1.1041,285.454,100498.0,84.4577,NaN,285.454,NaN,NaN,NaN,NaN,...,286.329,285.730,0.585552,0.677087,0.264359,0.088923,0.545190,0.036778,1.875870,2.52581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-08 21:00:00,39.8748,284.809,100917.0,87.2794,8.53473,284.809,111.9970,622.180,728.531,3.83177,...,287.524,287.100,0.269830,0.324491,0.168710,1.388390,0.480249,0.708542,0.028853,10.19220
2018-02-08 21:30:00,39.8956,284.447,100944.0,81.5375,6.87156,284.447,63.4305,669.949,729.680,2.31385,...,287.505,287.074,0.270332,0.324650,0.169308,1.220350,0.355083,1.070870,10.821500,11.88980
2018-02-08 22:00:00,39.9165,284.535,100961.0,77.7024,6.43326,284.535,70.1655,664.107,730.213,2.66563,...,287.483,287.047,0.270886,0.324739,0.169821,1.017980,0.206502,1.642580,28.889900,46.52960
2018-02-08 22:30:00,39.9373,283.947,100990.0,81.4990,6.62946,283.947,95.6326,635.117,723.472,4.61708,...,287.444,286.994,0.271494,0.324923,0.170493,0.785127,0.043090,1.978500,1.498780,16.58690
2018-02-08 23:00:00,39.9581,284.156,100990.0,78.2415,5.94753,284.156,83.2179,647.099,725.291,3.74744,...,287.406,286.938,0.272248,0.325303,0.170982,0.531903,0.125031,2.315050,14.333400,22.25020

También se puede recibir una función en ambos argumentos

In [35]:
df_t.where(lambda x:x>0,lambda x:x+100) #Lo primero es lo que busco, lo segundo con que lo reemplazo!

,DOY,Ta,Pa,RH,Td,Tc,Rn,LWin,LWout,SWin,...,Ts_2_1_1,Ts_3_1_1,SWC_1_1_1,SWC_2_1_1,SWC_3_1_1,SHF_1_1_1,SHF_2_1_1,SHF_3_1_1,LE,H
2014-01-01 00:30:00,1.0208,285.499,100523.0,87.5984,NaN,285.499,NaN,NaN,NaN,NaN,...,286.550,285.912,0.580774,0.677433,0.264485,1.899400,0.491621,0.750120,0.987573,2.10820
2014-01-01 01:00:00,1.0416,285.169,100531.0,88.4022,NaN,285.169,NaN,NaN,NaN,NaN,...,286.498,285.869,0.581969,0.677369,0.264282,1.439690,0.225682,0.559402,0.167466,95.37249
2014-01-01 01:30:00,1.0624,285.089,100526.0,89.6953,NaN,285.089,NaN,NaN,NaN,NaN,...,286.431,285.818,0.583308,0.677512,0.264079,0.982225,99.967434,0.359773,99.790451,74.93080
2014-01-01 02:00:00,1.0833,285.388,100514.0,87.9180,NaN,285.388,NaN,NaN,NaN,NaN,...,286.368,285.768,0.584545,0.677424,0.263918,0.527264,99.707363,0.154871,1.012810,80.63820
2014-01-01 02:30:00,1.1041,285.454,100498.0,84.4577,NaN,285.454,NaN,NaN,NaN,NaN,...,286.329,285.730,0.585552,0.677087,0.264359,0.088923,99.454810,99.963222,98.124130,97.47419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-08 21:00:00,39.8748,284.809,100917.0,87.2794,8.53473,284.809,-11.9970,622.180,728.531,96.16823,...,287.524,287.100,0.269830,0.324491,0.168710,1.388390,0.480249,99.291458,0.028853,89.80780
2018-02-08 21:30:00,39.8956,284.447,100944.0,81.5375,6.87156,284.447,36.5695,669.949,729.680,97.68615,...,287.505,287.074,0.270332,0.324650,0.169308,1.220350,0.355083,98.929130,10.821500,88.11020
2018-02-08 22:00:00,39.9165,284.535,100961.0,77.7024,6.43326,284.535,29.8345,664.107,730.213,97.33437,...,287.483,287.047,0.270886,0.324739,0.169821,1.017980,0.206502,98.357420,28.889900,53.47040
2018-02-08 22:30:00,39.9373,283.947,100990.0,81.4990,6.62946,283.947,4.3674,635.117,723.472,95.38292,...,287.444,286.994,0.271494,0.324923,0.170493,0.785127,0.043090,98.021500,1.498780,83.41310
2018-02-08 23:00:00,39.9581,284.156,100990.0,78.2415,5.94753,284.156,16.7821,647.099,725.291,96.25256,...,287.406,286.938,0.272248,0.325303,0.170982,0.531903,99.874969,97.684950,14.333400,77.74980

Ahora el método `.mask()` hace lo contrario que `.where()`. O sea reemplaza cuando algo es verdadero.

In [36]:
df_t.mask(df_t>0) #Basicamente todo al revés!

,DOY,Ta,Pa,RH,Td,Tc,Rn,LWin,LWout,SWin,...,Ts_2_1_1,Ts_3_1_1,SWC_1_1_1,SWC_2_1_1,SWC_3_1_1,SHF_1_1_1,SHF_2_1_1,SHF_3_1_1,LE,H
2014-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.62751
2014-01-01 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.032565,NaN,-0.209549,-25.06920
2014-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.292637,NaN,NaN,-19.36180
2014-01-01 02:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.545190,-0.036778,-1.875870,-2.52581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-08 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,-111.9970,NaN,NaN,-3.83177,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.708542,NaN,-10.19220
2018-02-08 21:30:00,NaN,NaN,NaN,NaN,NaN,NaN,-63.4305,NaN,NaN,-2.31385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.070870,NaN,-11.88980
2018-02-08 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,-70.1655,NaN,NaN,-2.66563,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.642580,NaN,-46.52960
2018-02-08 22:30:00,NaN,NaN,NaN,NaN,NaN,NaN,-95.6326,NaN,NaN,-4.61708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.978500,NaN,-16.58690
2018-02-08 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,-83.2179,NaN,NaN,-3.74744,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.125031,-2.315050,NaN,-22.25020

Más opciones de seleccionar/indexar data en https://pandas.pydata.org/docs/user_guide/indexing.html#

## Otras funciones para ver la data

Hay una serie de funciones que nos permiten visualizar la data. Dentro de las más básicas:
- **df.head(n)** &rarr; nos permite ver las primeras "n" filas (sin n, por default 5), funciona para `Series` y `DataFrame`.
- **df.tail(n)** &rarr; nos permite ver las últimas "n" filas (lo mismo), funciona para `Series` y `DataFrame`.

In [11]:
#Para dataframes
display(df.head())
display(df.head(10))

#Para una serie
print(df["age"].head())

In [12]:
display(df.tail())

display(df["workclass"].tail())

## Estadística

Para tener una descripción estadística básica de nuestra data podemos usar `df.describe()`

In [ ]:
display(df.describe())
df_t.describe()