# Cosas por agregar
- Sección de series de tiempo (datetime)

# Import importantes

In [1]:
import kagglehub
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Download latest version
path = kagglehub.dataset_download("isathyam31/adult-income-prediction-classification")

/home/capitanespiral/Documents/GitHub/data_science/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Gathering data

### Datos en general

La función más usada, lejos es `read_csv` de pandas, donde basta que demos el path del archivo y su nombre, y se leerá si no hay mayor problema. Por default, la primera fila se transforma en las columnas del dataframe, que podemos ver usando `dataframe.columns`

In [5]:
df=pd.read_csv(f"{path}/data.csv")
print(df)
print(df.columns)

       age          workclass  fnlwgt    education  education-num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital-status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital-gain  capital-loss  hours-per-week         country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       salary
0           0
1           0
2           0
3           0
4           0
...       ...
32556       0
32557       1
32558       0
32559       0
32560       1

[32561 rows x 15 columns]
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'country', 'salary'],
      dtype='object')

---
Opciones más usadas de `read_csv`:
- **sep o delimiter** &rarr; El separador de la data, usualmente se encuentra solo pero a veces es mejor darlo explícitamente.
- **header** &rarr; Número de fila que se toma como nombre de columnas y desde el cual comienza la data, por default, cero (inicio del .csv).
- **skiprows** &rarr; Filas a saltar desde el inicio del archivo (indexeando desde cero, se puede entregar lista o tupla)
- **skipfooter** &rarr; Filas a saltar desde el final del archivo.
- **usecols** &rarr; Subset de columnas a usar (secuencia de números o nombres explícitos).

In [21]:
#Si la primera fila está mala, cambiamos el header
df1=pd.read_csv(f"{path}/data_bad_first_row.csv") #Salió pésimo
df2=pd.read_csv(f"{path}/data_bad_first_row.csv",header=1) #Mucho mejor
#Si la segunda está mala
df3=pd.read_csv(f"{path}/data_bad_second_row.csv") #Primer dato pésimo
df4=pd.read_csv(f"{path}/data_bad_second_row.csv",skiprows=[1],header=0) #Nos saltamos la segunda fila y conservamos el header
#Seleccionemos ciertas columnas no más
df5=pd.read_csv(f"{path}/data_bad_first_row.csv",header=1,usecols=[0,3]) #Puede ser con números
df6=pd.read_csv(f"{path}/data_bad_first_row.csv",header=1,usecols=["age","education","workclass"]) #Puede ser con los nombres explícitos

In [17]:
del df1,df2,df3,df4,df5,df6

### Series de Tiempo

Para el caso de series de tiempo, hay que saber trabajar con `Timestamps`, `Datetime`, `Timedelta`, etc...

In [5]:
df_t=pd.read_csv("biomet.csv")
df_t

/tmp/ipykernel_6628/1875455070.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_t=pd.read_csv("biomet.csv")

,date,time,DOY,Ta,Pa,RH,Td,Tc,Rn,LWin,...,Ts_2_1_1,Ts_3_1_1,SWC_1_1_1,SWC_2_1_1,SWC_3_1_1,SHF_1_1_1,SHF_2_1_1,SHF_3_1_1,LE,H
0,[yyyy-mm-dd],[HH:MM],[ddd.ddd],[K],[Pa],[%],[C],[K],[W/m^2],[W/m^2],...,[K],[K],[m^3/m^3],[m^3/m^3],[m^3/m^3],[W/m^2],[W/m^2],[W/m^2],[W+1M-2],[W+1M-2]
1,2014-01-01,00:30:00,1.0208,285.499,100523.0,87.5984,NaN,285.499,NaN,NaN,...,286.55,285.912,0.580774,0.677433,0.264485,1.8994,0.491621,0.75012,0.987573,2.1082
2,2014-01-01,01:00:00,1.0416,285.169,100531.0,88.4022,NaN,285.169,NaN,NaN,...,286.498,285.869,0.581969,0.677369,0.264282,1.43969,0.225682,0.559402,0.167466,-4.62751
3,2014-01-01,01:30:00,1.0624,285.089,100526.0,89.6953,NaN,285.089,NaN,NaN,...,286.431,285.818,0.583308,0.677512,0.264079,0.982225,-0.0325655,0.359773,-0.209549,-25.0692
4,2014-01-01,02:00:00,1.0833,285.388,100514.0,87.918,NaN,285.388,NaN,NaN,...,286.368,285.768,0.584545,0.677424,0.263918,0.527264,-0.292637,0.154871,1.01281,-19.3618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69985,2017-12-29,05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69986,2017-12-29,05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69987,2017-12-29,06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69988,2017-12-29,06:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69989,2017-12-29,07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Links de interés
- Datasets https://www.kaggle.com/datasets
- Documentación de Pandas https://pandas.pydata.org/docs/index.html 
- Cookbook de pandas https://pandas.pydata.org/docs/user_guide/cookbook.html
- Estructura y un par de cosas sobre data engineering https://apmonitor.com/pds/index.php/Main/DataPreparation