In [1]:
import kagglehub
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime
import pickle


# Download latest version
kagglehub.dataset_download("isathyam31/adult-income-prediction-classification")

/Users/cristianpuebla/Documents/GitHub/data_science/.venv/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

'/Users/cristianpuebla/.cache/kagglehub/datasets/isathyam31/adult-income-prediction-classification/versions/1'

In [2]:
#Cargo pickles
with open("df.pkl","rb") as file:
    df=pickle.load(file)
    
with open("df_t.pkl","rb") as file:
    df_t=pickle.load(file)

In [3]:
path="/Users/cristianpuebla/Documents/GitHub/data_science/" #Aquí introducir tu path
filename="biomet1.csv"

df=pd.read_csv(f"{path}/{filename}")
#Display entrega mucho mejor resultado que print para los dataframes!
display(df)
print(df.columns)

/var/folders/4g/9c2x514n2pgdtv_rg_0g7ssh0000gn/T/ipykernel_2016/1267392977.py:4: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(f"{path}/{filename}")

,date,time,DOY,Ta,Pa,RH,Td,Tc,Rn,LWin,...,Ts_2_1_1,Ts_3_1_1,SWC_1_1_1,SWC_2_1_1,SWC_3_1_1,SHF_1_1_1,SHF_2_1_1,SHF_3_1_1,LE,H
0,[yyyy-mm-dd],[HH:MM],[ddd.ddd],[K],[Pa],[%],[C],[K],[W/m^2],[W/m^2],...,[K],[K],[m^3/m^3],[m^3/m^3],[m^3/m^3],[W/m^2],[W/m^2],[W/m^2],[W+1M-2],[W+1M-2]
1,2014-01-01,00:30:00,1.0208,285.499,100523.0,87.5984,NaN,285.499,NaN,NaN,...,286.55,285.912,0.580774,0.677433,0.264485,1.8994,0.491621,0.75012,0.987573,2.1082
2,2014-01-01,01:00:00,1.0416,285.169,100531.0,88.4022,NaN,285.169,NaN,NaN,...,286.498,285.869,0.581969,0.677369,0.264282,1.43969,0.225682,0.559402,0.167466,-4.62751
3,2014-01-01,01:30:00,1.0624,285.089,100526.0,89.6953,NaN,285.089,NaN,NaN,...,286.431,285.818,0.583308,0.677512,0.264079,0.982225,-0.0325655,0.359773,-0.209549,-25.0692
4,2014-01-01,02:00:00,1.0833,285.388,100514.0,87.918,NaN,285.388,NaN,NaN,...,286.368,285.768,0.584545,0.677424,0.263918,0.527264,-0.292637,0.154871,1.01281,-19.3618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68988,2018-02-08,21:00:00,39.8748,284.809,100917.0,87.2794,8.53473,284.809,-111.997,622.18,...,287.524,287.1,0.26983,0.324491,0.16871,1.38839,0.480249,-0.708542,0.028853,-10.1922
68989,2018-02-08,21:30:00,39.8956,284.447,100944.0,81.5375,6.87156,284.447,-63.4305,669.949,...,287.505,287.074,0.270332,0.32465,0.169308,1.22035,0.355083,-1.07087,10.8215,-11.8898
68990,2018-02-08,22:00:00,39.9165,284.535,100961.0,77.7024,6.43326,284.535,-70.1655,664.107,...,287.483,287.047,0.270886,0.324739,0.169821,1.01798,0.206502,-1.64258,28.8899,-46.5296
68991,2018-02-08,22:30:00,39.9373,283.947,100990.0,81.499,6.62946,283.947,-95.6326,635.117,...,287.444,286.994,0.271494,0.324923,0.170493,0.785127,0.04309,-1.9785,1.49878,-16.5869
68992,2018-02-08,23:00:00,39.9581,284.156,100990.0,78.2415,5.94753,284.156,-83.2179,647.099,...,287.406,286.938,0.272248,0.325303,0.170982,0.531903,-0.125031,-2.31505,14.3334,-22.2502

Index(['date', 'time', 'DOY', 'Ta', 'Pa', 'RH', 'Td', 'Tc', 'Rn', 'LWin',
       'LWout', 'SWin', 'SWout', 'PPFD', 'P_rain', 'MWS', 'WD', 'Ts_1_1_1',
       'Ts_2_1_1', 'Ts_3_1_1', 'SWC_1_1_1', 'SWC_2_1_1', 'SWC_3_1_1',
       'SHF_1_1_1', 'SHF_2_1_1', 'SHF_3_1_1', 'LE', 'H'],
      dtype='object')

In [4]:
#Si la primera fila está mala, cambiamos el header
df1=pd.read_csv("data_bad_first_row.csv") #Salió pésimo
df2=pd.read_csv("data_bad_first_row.csv",header=1) #Mucho mejor

display(df1)
display(df2)

,[years],[type of job],[n° of people],[highest level],[n° representation of education],[civil state],[job],[human relations],[skin color],[gender],[money earned],[money lost],[work hours],[country],[salary]
0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32561,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [5]:
#Si la segunda está mala
df3=pd.read_csv("data_bad_second_row.csv") #Primer dato pésimo
df4=pd.read_csv("data_bad_second_row.csv",skiprows=[1],header=0) #Nos saltamos la segunda fila y conservamos el header

display(df3)
display(df4)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,[years],[type of job],[n° of people],[highest level],[n° representation of education],[civil state],[job],[human relations],[skin color],[gender],[money earned],[money lost],[work hours],[country],[salary]
1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32561,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [8]:
#Seleccionemos ciertas columnas no más
df5=pd.read_csv("data_bad_first_row.csv",header=1,usecols=[0,3]) #Puede ser con números, aquí la primera y la cuarta
df6=pd.read_csv("data_bad_first_row.csv",header=1,usecols=range(4)) #Puede ser con iteradores, acá me entrega de la primera a la cuarta
df7=pd.read_csv("data_bad_first_row.csv",header=1,usecols=["age","education","workclass"]) #Puede ser con los nombres explícitos

display(df5.head())
display(df6.head())
display(df7.tail())

   age   education
0   39   Bachelors
1   50   Bachelors
2   38     HS-grad
3   53        11th
4   28   Bachelors

   age          workclass  fnlwgt   education
0   39          State-gov   77516   Bachelors
1   50   Self-emp-not-inc   83311   Bachelors
2   38            Private  215646     HS-grad
3   53            Private  234721        11th
4   28            Private  338409   Bachelors

       age      workclass    education
32556   27        Private   Assoc-acdm
32557   40        Private      HS-grad
32558   58        Private      HS-grad
32559   22        Private      HS-grad
32560   52   Self-emp-inc      HS-grad

In [9]:
del df1,df2,df3,df4,df5,df6,df7

In [16]:
##datetime con varios formatos
dt1=pd.to_datetime(["13/1/2018", np.datetime64("2018-01-13"), datetime.datetime(2018, 1, 13)],dayfirst=True)
print("dt1:",dt1,"\n")

##date_range
#Creando una lista de tiempo cada tres horas
t1="1-1-2000"
t2="2000-3-10"
dt2=pd.date_range(start=t1,end=t2,freq="3h")
print("dt2:",dt2,"\n")

#Lo mismo pero con 15 minutos
t1="1-1-2000"
t2="2000-3-10"
dt3=pd.date_range(start=t1,end=t2,freq="15min")
print("dt3:",dt3,"\n")

#Si tengo periodos y frecuencia
dt4=pd.date_range(start="2018-8-1", periods=5, freq="2d")
print("dt4:",dt4,"\n")

dt1: DatetimeIndex(['2018-01-13', '2018-01-13', '2018-01-13'], dtype='datetime64[ns]', freq=None)

dt2: DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 03:00:00',
               '2000-01-01 06:00:00', '2000-01-01 09:00:00',
               '2000-01-01 12:00:00', '2000-01-01 15:00:00',
               '2000-01-01 18:00:00', '2000-01-01 21:00:00',
               '2000-01-02 00:00:00', '2000-01-02 03:00:00',
               ...
               '2000-03-08 21:00:00', '2000-03-09 00:00:00',
               '2000-03-09 03:00:00', '2000-03-09 06:00:00',
               '2000-03-09 09:00:00', '2000-03-09 12:00:00',
               '2000-03-09 15:00:00', '2000-03-09 18:00:00',
               '2000-03-09 21:00:00', '2000-03-10 00:00:00'],
              dtype='datetime64[ns]', length=553, freq='3h')

dt3: DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 00:15:00',
               '2000-01-01 00:30:00', '2000-01-01 00:45:00',
               '2000-01-01 01:00:00', '2000-01-01 01:15:00',
               '2000-01-01 01:30:00', '2000-01-01 01:45:00',
               '2000-01-01 02:00:00', '2000-01-01 02:15:00',
               ...
               '2000-03-09 21:45:00', '2000-03-09 22:00:00',
               '2000-03-09 22:15:00', '2000-03-09 22:30:00',
               '2000-03-09 22:45:00', '2000-03-09 23:00:00',
               '2000-03-09 23:15:00', '2000-03-09 23:30:00',
               '2000-03-09 23:45:00', '2000-03-10 00:00:00'],
              dtype='datetime64[ns]', length=6625, freq='15min')

dt4: DatetimeIndex(['2018-08-01', '2018-08-03', '2018-08-05', '2018-08-07',
               '2018-08-09'],
              dtype='datetime64[ns]', freq='2D')